.tero-font {
  font-family: 'Teko', sans-serif !important;
}

.alfa-slab-one-font {
  font-family: 'Teko', sans-serif !important;
}

.sign-in:hover {
  cursor: pointer;
  color: #66b2b2;
}

.hover:hover{
  cursor: pointer;
}
.text-hover:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sign-up:hover {
  cursor: pointer;
  color: #000000;
  background-color: transparent;
}

.auth-box {
  display: flex;
  flex-direction: column;
}

.auth-title {
  font-size: 30px;
  font-weight: 800;
}

.forgot-pass {
  display: flex;
  align-self: flex-start;
}

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.home-wrap {
  margin: 0 auto;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	@media only screen (max-width: 600px) {
		margin: 0 auto;
		padding: 10px 10px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
	}
}